.start-body {
  background-image: url("https://api.dujin.org/bing/1920.php");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  overflow: scroll;
}

.home-body {
  background-image: url("../images/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, blur(5px));
    width: 100%;
    height: 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    align-items: center;
}

.backdrop-content {
    filter: none;
    position: fixed;
    top: 0;
    left: 360px;
    color: #ffffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.home {
    background-color: #00000000;
}

.home a {
    display: inline-block;
    background-color: #00000000;
    color: #fff;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
}

.home h3 {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.home h4 {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.home h2 {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.cctext {
  position: fixed;
  top: 45%;
  left: 45%;
  text-align: center;
}

.studio-profile {
  width: 100%;
  height: 93%;
  position: fixed;
  top: 7%;
  left: 0;
  align-items: center;
  text-align: center;
}

.join-us {
  text-align: center;
  width: 100%;
  left: 0;
  background-color: #fff;
  color: black;
  align-items: center;
}

.join-us a {
  display: inline-block;
  background-color: aqua;
  color: #fff;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
}

.tiaojian {
  position: fixed;
  top: 100%;
  left: 0;
  width: 60px;
  height: 40px;
  text-align: center;
  align-items: center;
}

.vp {
  /* background-image: url("../images/homebg.png"); */
  position: fixed;
  top: 7%;
  left: 0;
  width: 100%;
  height: 100%;
}

.vp h3 {
  position: fixed;
  top: 340px;
  left: 1020px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 36px;
  animation: fadeIn 1s ease-in-out;
}

.vp h4 {
  position: fixed;
  top: 420px;
  left: 1030px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 24px;
  animation: fadeIn 1.5s ease-in-out;
}

.vp img {
  position: fixed;
  top: 300px;
  left: 320px;
  font-size: 24px;
  animation: fadeIn 1.25s ease-in-out;
}

.vp a {
  display: inline-block;
  background-color: #0000ff;
  color: #fff;
  border: 2px solid #0000ff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  position: fixed;
  top: 510px;
  left: 1300px;
  animation: fadeIn 1.7s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}